/* Add CSS Styling */
.class1{
    background-color:  pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#one{
    color: blue;
    font-size: 36px;
}
.cooler{
    font-size: 26px;
}
#another{
    background-color: greenyellow;
    font-weight: bold;
    font-size: 24px;
}